*/
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="~/Images/favico.ico" type="image/x-icon">
    <title>Панель администратора</title>
    @Styles.Render("~/main/css")
    @Styles.Render("~/admin-panel/css")
    @Styles.Render("~/sumoselect/css")
    @Styles.Render("~/dragula/css")
    @Styles.Render("~/datepicker/css")
</head>
<body>
    <div class="header-menu">
        <div class="logo-img menu-item" target-id="about-us">
            <img src="~/Images/logo.png" alt="Logo" />
        </div>
        <div class="menu-item menu-item-active" target-id="order" onclick="loadOrders();">
            <i class="fal fa-shopping-basket"></i>
            Заказы
            <div class="order-count hide"></div>
        </div>
        <div class="menu-item" target-id="history" onclick="loadHistoryOrders()">
            <i class="fal fa-history"></i>
            История заказов
        </div>
        <div class="menu-item" target-id="products" onclick="loadProducts();">
            <i class="fal fa-cart-arrow-down"></i>
            Товары
        </div>
        <div class="menu-item" target-id="stock">
            <i class="fal fa-badge-percent"></i>
            Акции
        </div>
        <div class="menu-item" target-id="branch" onclick="loadBranchList();">
            <i class="fal fa-code-branch"></i>
            Отделения
        </div>
        <div class="menu-item" target-id="setting">
            <i class="fal fa-map-marker-alt"></i>
            Контакты отделения
        </div>
        <div class="menu-item" target-id="delivery">
            <i class="fal fa-truck-loading"></i>
            О доставке
        </div>
        <div class="menu-item" target-id="analytics">
            <i class="fal fa-analytics"></i>
            Аналитика
        </div>
        <div class="menu-item logout" onclick="logout()">
            <i class="fal fa-sign-out"></i>
            Выйти
        </div>
    </div>
    <input type="hidden" id="current-brnach" value="@ViewBag.CurrentBranch">
    <div class="content">
        <div class="section" id="order">
            <div class="order-wrapper-grid">
                <div class="order-settings">
                    <div class="setting-item">
                        <div class="additional-order-item search-input">
                            <div class="search-group">
                                <div class="search-group-item search-group-input">
                                    <input oninput="searchByOrderNumber('order')" placeholder="Введите номер заказа...">
                                </div>
                                <div class="search-group-item search-group-ico hide">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="sm-font-size">
                            поиск заказа
                        </div>
                    </div>

                    <div class="setting-item count-new-order">
                        <div class="bg-font-size font-weight-bold status-bar-value"></div>
                        <div class="sm-font-size">новых заказов</div>
                    </div>
                    <div class="setting-item count-success-order">
                        <div class="bg-font-size font-weight-bold success-color status-bar-value"></div>
                        <div class="sm-font-size">оформленно заказов</div>
                    </div>
                    <div class="setting-item count-cancel-order">
                        <div class="bg-font-size font-weight-bold fail-color status-bar-value"></div>
                        <div class="sm-font-size">отменено заказов</div>
                    </div>
                    <div class="setting-item today-revenue-order">
                        <div class="bg-font-size font-weight-bold text-no-wrap status-bar-value"></div>
                        <div class="sm-font-size">выручка (руб.)</div>
                    </div>
                </div>
                <div class="order-list-grid">
                   
                    <div class="order-item-grid">
                        <div class="order-item-short-row grid-col-2 border-bottom">
                            <div class="order-short-row-item order-short-aitems-start border-right ">
                                <div class="flex-col-center">
                                    <div class="bg-normal-font-size font-weight-bold text-no-wrap">----
                                    # 
                                    <span>10234</span>
                                    </div>
                                    <div>номер заказа</div>
                                </div>
                            </div>
                            <div class="order-short-row-item order-short-aitems-end ">
                                <div class="flex-col-center">
                                    <div class="bg-normal-font-size font-weight-bold text-no-wrap">12 497<i class="fal fa-ruble-sign sm-font-size"></i></div>
                                    <div >к оплате</div>
                                </div>
                            </div>
                        </div>
                        <div class="order-item-short-row border-bottom " >
                            <div class="order-short-row-item">
                                <div class="bg-normal-font-size" >
                                    <i class="fal fa-phone-office"></i>
                                </div>
                                <div class="sm-font-size text-no-wrap" > +7(960)160-59-46</div>
                            </div>
                            <div class="order-short-row-item">
                                <div class="bg-normal-font-size" >
                                    <i class="fal fa-user-alt"></i>
                                </div>
                                <div class="sm-font-size" >Алексей</div>
                            </div>
                            <div class="order-short-row-item">
                                <div class="bg-normal-font-size" >
                                    <i class="fal fa-hand-holding-box"></i>
                                </div>
                                <div class="sm-font-size" >Доставка</div>
                            </div><div class="order-short-row-item">
                                <div class="bg-normal-font-size" >
                                    <i class="fal fa-cash-register"></i>
                                </div>
                                <div class="sm-font-size" >Наличиными</div>
                            </div>
                        </div>
                        <div class="order-item-short-row ">
                            <div class="col-span-4">
                                <a>
                                    Подробности заказа
                                    <i class="fal fa-window-restore"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="order-wrapper hide">
                <div class="orders">
                    <div class="orders-header">
                        <div class="order-header-text">
                            Заказы
                            <i class="fal fa-cash-register"></i>
                        </div>
                        <div class="additional-order">
                            <div class="additional-order-item sumuselect" id="additional-order-city">
                                @if (ViewBag.BranchViews != null)
                                {
                                    <select id="show-additional-order" multiple="multiple">
                                        @foreach (var kv in ViewBag.BranchViews)
                                        {
                                            <option key="@kv.Key">@kv.Value</option>
                                        }
                                    </select>
                                }
                            </div>
                            <div class="additional-order-item search-input">
                                <div class="search-group">
                                    <div class="search-group-item search-group-input">
                                        <input oninput="searchByOrderNumber('order')" placeholder="Поиск по номеру закза" />
                                    </div>
                                    <div class="search-group-item search-group-ico">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-list">
                        <div class="empty-list">
                            <i class="fal fa-user-clock"></i>
                            <span>Пока нет ни одного заказа</span>
                        </div>
                    </div>
                </div>
                <div class="order-info">
                    <div class="orders-header">
                        <div class="order-header-text">
                            Информация о заказе
                            <i class="fal fa-receipt"></i>
                        </div>
                        <div></div>
                    </div>
                    <div class="order-description">
                        <div class="empty-list">
                            <i class="fal fa-info"></i>
                            <span>Что бы увидеть информацию о заказе, выберите нужный из колонки "Заказы"</span>
                        </div>
                        <div class="order-description-header">
                            <div class="order-description-number-header"></div>
                            <div class="order-description-date-header"></div>
                        </div>
                        <div class="order-description-products-wrapper">
                            <div class="order-description-products">
                            </div>
                        </div>
                        <div class="order-description-products-additional-wrapper">
                            <div class="order-description-additional-info to-pay">
                                <div>К оплате:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info need-cashback">
                                <div id="need-cashback-header"></div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info order-user-name">
                                <div>Заказчик:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info order-user-phone">
                                <div>Телефон заказчика:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                        </div>
                        <div class="order-description-info-take"></div>
                        <div class="order-description-info-comment">
                            <div class="order-description-info-comment-header">
                                Коментарий к заказу
                            </div>
                            <div class="order-description-info-comment-text"></div>
                        </div>
                        <div class="order-menu">
                            <button class="btn btn-submit" onclick="">Заказ обработан</button>
                            <button class="btn btn-cancel-order" onclick="">Отменить заказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section hide" id="history">
            <div class="order-wrapper">
                <div class="orders">
                    <div class="orders-header">
                        <div class="order-header-text">
                            Заказы
                            <i class="fal fa-cash-register"></i>
                        </div>
                        <div class="additional-order">
                            <div class="additional-order-item datepicker-input">
                                <div>
                                    <span class="period-description">
                                        Период:
                                    </span>
                                    <div class="group">
                                        <input required id="order-history-period" />
                                        <i class="fal fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="additional-order-item sumuselect" id="additional-history-order-city">
                                @if (ViewBag.BranchViews != null)
                                {
                                    <select id="show-additional-history-order" multiple="multiple">
                                        @foreach (var kv in ViewBag.BranchViews)
                                        {
                                            <option key="@kv.Key">@kv.Value</option>
                                        }
                                    </select>
                                }
                            </div>
                            <div class="additional-order-item search-input">
                                <div class="search-group">
                                    <div class="search-group-item search-group-input">
                                        <input id="serch-input" oninput="searchByOrderNumber('history')" placeholder="Поиск по номеру закза" />
                                    </div>
                                    <div class="search-group-item search-group-ico">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-list">
                        <div class="empty-list">
                            <i class="fal fa-user-clock"></i>
                            <span>История заказов пуста</span>
                        </div>
                    </div>
                </div>
                <div class="order-info">
                    <div class="orders-header">
                        <div class="order-header-text">
                            Информация о заказе
                            <i class="fal fa-receipt"></i>
                        </div>
                        <div></div>
                    </div>
                    <div class="order-description">
                        <div class="empty-list">
                            <i class="fal fa-info"></i>
                            <span>Что бы увидеть информацию о заказе, выберите нужный из колонки "Заказы"</span>
                        </div>
                        <div class="order-description-header">
                            <div class="order-description-number-header"></div>
                            <div class="order-description-date-header"></div>
                            <div class="order-description-processed-header">
                                <i class="fal fa-thumbs-up"></i>
                                оформлен
                            </div>
                            <div class="order-description-cancellation-header">
                                <i class="fal fa-thumbs-down"></i>
                                отменён
                            </div>
                        </div>
                        <div class="order-description-products-wrapper">
                            <div class="order-description-products">
                            </div>
                        </div>
                        <div class="order-description-products-additional-wrapper">
                            <div class="order-description-additional-info to-pay">
                                <div>К оплате:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info need-cashback">
                                <div id="need-cashback-header"></div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info order-user-name">
                                <div>Заказчик:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                            <div class="order-description-additional-info order-user-phone">
                                <div>Телефон заказчика:</div>
                                <div class="order-description-additional-info-value"></div>
                            </div>
                        </div>
                        <div class="order-description-info-take"></div>
                        <div class="order-description-info-comment" id="order-description-comment">
                            <div class="order-description-info-comment-header">
                                Коментарий к заказу
                            </div>
                            <div class="order-description-info-comment-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section hide" id="products">
            <div class="category">
                <div class="header-product">
                    <div class="header-product-text">
                        Категории
                        <i class="fal fa-layer-plus"></i>
                    </div>
                    <div class="header-product-add" id="add-category">
                        <i class="fal fa-plus"></i>
                        Добавить категорию
                    </div>
                </div>
                <div class="category-list" id="category-list">
                    <div class="empty-list">
                        <i class="fal fa-smile-plus"></i>
                        <span>Пока нет ни одной категории</span>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="header-product">
                    <div class="header-product-text">
                        Продукты
                        <i class="fal fa-gifts"></i>
                    </div>
                    <div class="header-product-add" id="add-product">
                        <i class="fal fa-plus"></i>
                        Добавить продукт
                    </div>
                </div>
                <div class="product-list" id="product-list">
                    <div class="empty-list">
                        <i class="fal fa-smile-plus"></i>
                        <span>Выберите категорию и добавте продукт</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section hide" id="stock">
            <div class="stock-header">
                <div class="stock-header-text">
                    Акции
                    <i class="fal fa-badge-percent"></i>
                </div>
                <div class="stock-header-add" id="add-stock">
                    <i class="fal fa-plus"></i>
                    Добавить акцию
                </div>
            </div>
            <div class="content-wrapper">
                <div class="empty-list">
                    <i class="fal fa-smile-plus"></i>
                    <span>Пока нет ни одной акции</span>
                </div>
                <div class="stock-list" id="stock-list">
                </div>
            </div>
        </div>
        <div class="section hide" id="branch">
            <div class="branch-header">
                Отделения
                <i class="fal fa-chart-network"></i>
            </div>
            @if (ViewBag.TypeBranch == EasyStart.Logic.TypeBranch.MainBranch)
            {
                <div class="branch-header-add" id="add-branch">
                    <i class="fal fa-plus"></i>
                    Добавить отделение
                </div>
            }
            <div class="branch-list">
            </div>
        </div>

        <div class="section hide" id="setting" setting-id="@(ViewBag.Setting != null ? ViewBag.Setting.Id : 0)">
            <div class="section-wrapper">
                <div class="setting-block">
                    <div class="setting-header">
                        Адрес
                        <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="setting-content">
                        <div class="group">
                            <input required autocomplete="off" list="setting-city-list" id="setting-city" value="@(ViewBag.Setting != null ? ViewBag.Setting.City : "")" type="text">
                            <datalist id="setting-city-list">
                                @foreach (var cityPair in ViewBag.City)
                                {
                                    <option city-id="@cityPair.Key" value="@cityPair.Value" />
                                }
                            </datalist>
                            <span class="bar"></span>
                            <label>Город</label>
                        </div>
                        <div class="group">
                            <input required type="text" autocomplete="off" id="setting-street" value="@(ViewBag.Setting != null ? ViewBag.Setting.Street : "")" />
                            <span class="bar"></span>
                            <label>Улица</label>
                        </div>
                        <div class="group">
                            <input required type="text" autocomplete="off" id="setting-home" value="@(ViewBag.Setting != null && ViewBag.Setting.HomeNumber!= 0 ? ViewBag.Setting.HomeNumber : "")" />
                            <span class="bar"></span>
                            <label>Номер дома(офиса)</label>
                        </div>
                    </div>
                </div>
                <div class="setting-block">
                    <div class="setting-header">
                        Контакты
                        <i class="fal fa-address-card"></i>
                    </div>
                    <div class="setting-content">
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-phone-number" value="@(ViewBag.Setting != null ? ViewBag.Setting.PhoneNumber : "")" />
                            <span class="bar"></span>
                            <label>Телефон 1</label>
                        </div>
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-phone-number-additional" value="@(ViewBag.Setting != null ? ViewBag.Setting.PhoneNumberAdditional : "")" />
                            <span class="bar"></span>
                            <label>Телефон 2</label>
                        </div>
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-email" value="@(ViewBag.Setting != null ? ViewBag.Setting.Email : "")" />
                            <span class="bar"></span>
                            <label>Адрес эл.почты</label>
                        </div>
                    </div>
                </div>
                <div class="setting-block">
                    <div class="setting-header">
                        Соц. сети
                        <i class="fal fa-comments"></i>
                    </div>
                    <div class="setting-content">
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-vk" value="@(ViewBag.Setting != null ? ViewBag.Setting.Vkontakte : "")" />
                            <span class="bar"></span>
                            <label>Вконтакте</label>
                        </div>
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-instagram" value="@(ViewBag.Setting != null ? ViewBag.Setting.Instagram : "")" />
                            <span class="bar"></span>
                            <label>Инстаграм</label>
                        </div>
                        <div class="group">
                            <input autocomplete="off" type="text" required id="setting-facebook" value="@(ViewBag.Setting != null ? ViewBag.Setting.Facebook : "")" />
                            <span class="bar"></span>
                            <label>Фейсбук</label>
                        </div>
                    </div>
                </div>
                <div class="setting-menu">
                    <button class="btn btn-submit" onclick="saveSetting();">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="section hide" id="delivery">
            <div class="section-wrapper">
                <div class="delivery-block smaller">
                    <div class="delivery-header">
                        Звуковой сигнал
                    </div>
                    <div class="delivery-content">
                        <div class="checkbox-item sound-notify">
                            <input type="checkbox" id="sound-nodify" @(ViewBag.DeliverySetting != null && ViewBag.DeliverySetting.IsSoundNotify ? "checked" : "") />
                            <label for="sound-nodify" class="label-for">Оповещать звуковым сигналом о новом заказе</label>
                        </div>
                    </div>
                </div>
                <div class="delivery-block">
                    <div class="delivery-header">
                        Настройка стоимости доставки
                    </div>
                    <div class="delivery-content">
                        <div class="group">
                            <input required type="text" id="price-delivery" value="@(ViewBag.DeliverySetting != null && ViewBag.DeliverySetting.PriceDelivery != 0 ? ViewBag.DeliverySetting.PriceDelivery : "")" />
                            <div class="bar"></div>
                            <label>Стоимость доставки</label>
                        </div>
                        <div class="group">
                            <input required type="text" id="free-delivery" value="@(ViewBag.DeliverySetting != null && ViewBag.DeliverySetting.FreePriceDelivery != 0 ? ViewBag.DeliverySetting.FreePriceDelivery : "")" />
                            <div class="bar"></div>
                            <label>Бесплатная доставка при заказе на сумму от</label>
                        </div>
                    </div>
                </div>
                <div class="delivery-block smaller">
                    <div class="delivery-header">
                        Оплата заказа
                    </div>
                    <div class="delivery-content">
                        <div class="payment-type">
                            <input type="checkbox" id="payment-card" @(ViewBag.DeliverySetting != null && ViewBag.DeliverySetting.PayCard ? "checked" : "") />
                            <label for="payment-card" class="label-for">Банковской картой</label>
                        </div>
                        <div class="payment-type">
                            <input type="checkbox" id="payment-cash" checked disabled />
                            <label for="payment-cash" class="label-for">Наличными</label>
                        </div>
                    </div>
                </div>
                <div class="delivery-block smaller">
                    <div class="delivery-header">
                        Часовой пояс
                    </div>
                    <div class="delivery-content">
                        <select id="delivery-time-zone">
                            @foreach (var kv in ViewBag.Zones)
                            {
                                <option @(@kv.Key == @ViewBag.ZoneId ? "selected" : "") value="@kv.Key">@kv.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="delivery-block">
                    <div class="delivery-header">
                        Режим работы доставки
                    </div>

                    <div class="table-time">
                        @foreach (var day in ViewBag.DeliveryTimeTable)
                        {
                            <div class="time-day" day-id="@day.Item2">
                                <div class="checkbox-item">
                                    <input type="checkbox" id="day-@day.Item2" @(@day.Item5 ? "checked" : "") />
                                    <label for="day-@day.Item2" class="label-for">@day.Item1</label>
                                </div>
                                <div class="period-work">
                                    <input type="number" name="start" min="0" max="24" step="0.1" placeholder="0.00" value="@day.Item3" />
                                    <input type="number" name="end" min="0" max="24" step="0.1" placeholder="0.00" value="@day.Item4" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="delivery-menu">
                    <button class="btn btn-submit" onclick="saveDeliverySetting();">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="section hide" id="analytics">
            <div class="analytics-wrapper" id="analytics-wrapper">
            </div>
        </div>

        <div class="section hide" id="about-us">
            <div class="about-us-body">
                <div class="about-header">
                    <img src="~/Images/full-logo-pink.png" alt="Logo" />
                </div>
                <div class="about-us">
                    <span>Разработчик: <a href="https://vk.com/pessoft" target="_blank">Alexey Pastukhov</a></span>
                    <span>Телефон: <a href="tel:+7(960) 505-37-47">+7(960) 505-37-47</a></span>
                    <span>Эл.почта: <a href="mailto:support@easy-start.site">support@easy-start.site</a></span>
                    <span><a href="https://vk.com/easy_start_app" target="_blank">Мы ВКонтакте</a></span>
                    <span>&#169 Easy Start @ViewBag.YearsWork </span>
                </div>
            </div>
        </div>
    </div>

    <dialog id="addCategoryDialog">
        <form onsubmit="operationCategory(); return false;" autocomplete="off">
            <div class="enter-dialog-data">
                <div class="header-dialog">
                    <i class="fal fa-layer-plus"></i>
                    Добавление категории
                </div>
                <div class="content-dialog-data">
                    <input type="hidden" id="category-id">
                    <div class="group">
                        <input required type="text" id="name-category" />
                        <span class="bar"></span>
                        <label>Название категории</label>
                    </div>
                </div>
                <div class="dialog-menu">
                    <button class="btn btn-submit" type="submit">Ок</button>
                    <button class="btn btn-cancel" type="reset" onclick="cancelDialog($('#addCategoryDialog'))">Отмена</button>
                </div>
            </div>

            <div class="add-image-product">
                <input type="file" id="add-category-image" accept="image/*" class="hide">
                <div class="preview-image" onclick="openDialogFile('add-category-image')">
                    <img src=""/images/default-image.jpg"" alt="your image" class="hide" />
                    <div class="dialog-image-upload">
                        <i class="fal fa-upload"></i>
                        Загрузите изображение категории
                    </div>
                </div>
            </div>

        </form>
    </dialog>

    <dialog id="addStockDialog">
        <form onsubmit="operationStock(); return false;" autocomplete="off">
            <div class="enter-dialog-data">
                <div class="header-dialog">
                    <i class="fal fa-layer-plus"></i>
                    Добавление акции
                </div>
                <div class="content-dialog-data">
                    <input type="hidden" id="stock-id">
                    <div class="stock-type">
                        <div class="stock-type-header">
                            Тип акции
                        </div>
                        <select id="stock-type">
                            <option value="0" selected>Другой тип</option>
                            <option value="1">Скидка при первом заказем с доставкой</option>
                            <option value="2">Скидка при заказе с самовывозом</option>
                        </select>
                    </div>
                    <div class="group">
                        <input required type="text" id="name-stock" />
                        <span class="bar"></span>
                        <label>Название акции</label>
                    </div>
                    <div class="group">
                        <input type="number" required id="stock-discount" min="0" step="1" value="0" />
                        <span class="bar"></span>
                        <label>Размер скидки (в процентах)</label>
                    </div>
                    <div class="group">
                        <textarea id="description-stock"></textarea>
                        <span class="bar"></span>
                        <label>Описание акции</label>
                    </div>
                </div>
                <div class="dialog-menu">
                    <button class="btn btn-submit" type="submit">Ок</button>
                    <button class="btn btn-cancel" type="reset" onclick="cancelDialog($('#addStockDialog'))">Отмена</button>
                </div>
            </div>

            <div class="add-image-product">
                <input type="file" id="add-stock-image" accept="image/*" class="hide">
                <div class="preview-image" onclick="openDialogFile('add-stock-image')">
                    <img src="#" alt="your image" class="hide" />
                    <div class="dialog-image-upload">
                        <i class="fal fa-upload"></i>
                        Загрузите изображение
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <dialog id="addProducDialog">
        <form onsubmit="operationProduct(); return false;" autocomplete="off">

            <div class="enter-dialog-data">
                <div class="header-dialog">
                    <i class="fal fa-layer-plus"></i>
                    Добавление продукта
                </div>
                <div class="content-dialog-data">
                    <input type="hidden" id="product-id">
                    <div class="product-type">
                        <div class="product-type-header">
                            Тип продука
                        </div>
                        <select id="product-type">
                            <option value="0" selected>Обычный</option>
                            <option value="1">Новинка</option>
                            <option value="2">Хит</option>
                            <option value="3">Участвует в акции</option>
                            <option value="4">Острое</option>
                            <option value="5">Вегетарианское</option>
                        </select>
                    </div>
                    <div class="group">
                        <input required type="text" id="name-product" />
                        <span class="bar"></span>
                        <label>Название продукта</label>
                    </div>
                    <div class="group">
                        <input required type="text" maxlength="20" id="product-additional-info" />
                        <span class="bar"></span>
                        <label>Информация о количестве, массе или объеме</label>
                    </div>
                    <div class="group">
                        <input type="number" required id="product-price" min="0" step="0.1" />
                        <span class="bar"></span>
                        <label>Цена (в рублях)</label>
                    </div>

                    <div class="group">
                        <textarea id="description-product"></textarea>
                        <span class="bar"></span>
                        <label>Описание продукта</label>
                    </div>
                </div>
                <div class="dialog-menu">
                    <button class="btn btn-submit" type="submit">Ок</button>
                    <button class="btn btn-cancel" type="reset" onclick="cancelDialog($('#addProducDialog'))">Отмена</button>
                </div>
            </div>

            <div class="add-image-product">
                <input type="file" id="add-product-image" accept="image/*" class="hide">
                <div class="preview-image" onclick="openDialogFile('add-product-image')">
                    <img src="#" alt="your image" class="hide" />
                    <div class="dialog-image-upload">
                        <i class="fal fa-upload"></i>
                        Загрузите изображение продукта
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <dialog id="addBranchDialog">
        <form onsubmit="addBranch(); return false;" autocomplete="off">

            <div class="enter-dialog-data">
                <div class="header-dialog">
                    <i class="fal fa-chart-network"></i>
                    Добавление отделения
                </div>
                <div class="content-dialog-data">
                    <div class="group">
                        <input required type="text" disabled id="login-new-branch" />
                        <span class="bar"></span>
                        <label>Логин</label>
                    </div>
                    <div class="group">
                        <input required type="text" disabled id="password-new-branch" />
                        <span class="bar"></span>
                        <label>Пароль</label>
                    </div>
                    <div class="group">
                        <input list="branch-city-list" id="branch-city" type="text">
                        <span class="bar"></span>
                        <label>Город отделения</label>
                        <datalist id="branch-city-list">
                            @foreach (var cityPair in ViewBag.City)
                            {
                                <option city-id="@cityPair.Key" value="@cityPair.Value" />
                            }
                        </datalist>
                    </div>
                </div>
                <div class="dialog-menu">
                    <button class="btn btn-submit" type="submit">Ок</button>
                    <button class="btn btn-cancel" type="reset" onclick="cancelDialog($('#addBranchDialog'))">Отмена</button>
                </div>
            </div>
        </form>
    </dialog>

    <dialog id="deleteConfirmationDialog">
        <div class="confirmation-info">
            <i class="fal fa-map-marker-question"></i>
            <span>Вы действительно хотите удалить элемент?</span>
        </div>
        <div class="dialog-menu">
            <button class="btn btn-submit">Да</button>
            <button class="btn btn-cancel" onclick="cancelDialog($('#deleteConfirmationDialog'))">Нет</button>
        </div>
    </dialog>

    <dialog id="productUserCallbackDialog">
        <div class="product-user-callback">
            <div class="product-user-callback-image">
                <img src="" />
            </div>
            <div class="product-user-callback-info">
                <div class="product-user-callback-header">
                    <div class="product-name-user-callback"></div>
                    <div class="product-raty-user-callback">
                        <div class="product-raty-image-user-callback"></div>
                        <div class="product-raty-text-user-callback"></div>
                    </div>
                </div>
                <div class="product-user-callback-review">
                    <div class="product-user-callback-review-header">
                        Отзывы
                    </div>
                    <div class="product-user-callback-review-list">

                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-menu">
            <button class="btn btn-cancel" onclick="cancelDialog($('#productUserCallbackDialog'))">Закрыть</button>
        </div>
    </dialog>

    <template id="review-item-template">
        <div class="review-item">
            <div class="review-item-header">
                <span></span>
                <div>
                    <i class="fal fa-eye item-show" onclick="toggleShowItem(this, TypeItem.Review, event);"></i>
                    <i class="fal fa-eye-slash item-hide" onclick="toggleShowItem(this, TypeItem.Review, event);"></i>
                </div>
            </div>
            <div class="review-item-text">
            </div>
        </div>
    </template>

    <template id="stock-item-template">
        <div class="stock-item">
            <div class="stock-item-image">
                <img src="" />
            </div>
            <div class="stock-item-footer">
                <div class="stock-item-name">
                </div>
                <div class="stock-item-menu">
                    <div class="stock-menu-el stock-visible">
                        <i class="fal fa-eye"></i>
                    </div>
                    <div class="stock-menu-el stock-edit">
                        <i class="fal fa-edit"></i>
                    </div>
                    <div class="stock-menu-el stock-remove">
                        <i class="fal fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="order-item-template-1">
        <div class="order-item">
            <div class="order-item-number">
                <i class="fal fa-hand-holding-box"></i>
                <span></span>
            </div>
            <div class="order-item-date"></div>
        </div>
    </template>

    <template id="order-item-template-2">
        <div class="order-item">
            <div class="order-item-number">
                <i class="fal fa-shipping-timed"></i>
                <span></span>
            </div>
            <div class="order-item-date"></div>
        </div>
    </template>

    <template id="order-product-header-item-template">
        <div class="order-description-product-header">
        </div>
    </template>

    <template id="order-product-item-template">
        <div class="order-description-product">
            <div class="order-description-product-number"></div>
            <div class="order-description-product-name"></div>
            <div class="order-description-product-info-count"></div>
            <div class="order-description-product-info-price"></div>
        </div>
    </template>

    <template id="info-order-cost-template">
        <div class="order-description-info-take-item">
            <div class="background-order-info">
                <i class="fal fa-money-bill-wave-alt"></i>
            </div>
            <div class="take-info-header">
                Стоимость заказа
            </div>
            <div class="take-info-items" id="order-price-info">
                <div class="take-info-item" id="take-info-pay-type">
                    <div class="take-info-item-name">
                        Способ оплаты:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="take-info-price">
                    <div class="take-info-item-name">
                        Стоимость:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="take-info-discount">
                    <div class="take-info-item-name">
                        Скидка:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="take-info-delivery">
                    <div class="take-info-item-name">
                        Доставка:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="take-info-topay">
                    <div class="take-info-item-name">
                        К оплате:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="info-order-delivery-template">
        <div class="order-description-info-take-item">
            <div class="background-order-info">
                <i class="fal fa-truck-loading"></i>
            </div>
            <div class="take-info-header">
                Адрес доставки
            </div>
            <div class="take-info-items">
                <div class="take-info-item" id="order-delivery-city">
                    <div class="take-info-item-name">
                        Город:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-delivery-street">
                    <div class="take-info-item-name">
                        Улица:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-delivery-home">
                    <div class="take-info-item-name">
                        Дом (офис):
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-delivery-apartment">
                    <div class="take-info-item-name">
                        Квартира:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-delivery-level">
                    <div class="take-info-item-name">
                        Этаж:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-delivery-intercom-code">
                    <div class="take-info-item-name">
                        Код домафона:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="info-order-takeyorself-template">
        <div class="order-description-info-take-item">
            <div class="background-order-info">
                <i class="fal fa-hand-holding-box"></i>
            </div>
            <div class="take-info-header">
                Адрес самовывоза
            </div>
            <div class="take-info-items">
                <div class="take-info-item" id="order-takeyorself-city">
                    <div class="take-info-item-name">
                        Город:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-takeyorself-street">
                    <div class="take-info-item-name">
                        Улица:
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
                <div class="take-info-item" id="order-takeyorself-home">
                    <div class="take-info-item-name">
                        Дом (офис):
                    </div>
                    <div class="take-info-item-value">
                    </div>
                </div>
            </div>
        </div>
    </template>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/singnal-logic.js"></script>
    @Scripts.Render("~/bundles/sumoselect")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/admin-panel")
    @Scripts.Render("~/bundles/dragula")
    @Scripts.Render("~/bundles/jquery-raty")
    @Scripts.Render("~/bundles/darepicker")

</body>
</html>
