<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Панель администратора</title>
    @Styles.Render("~/main/css")
    @Styles.Render("~/admin-login/css")
</head>
<body>
    <div class="wrapper">
        <div class="logo-img">
            <img src="~/Images/full-logo.png" alt="Logo" />
        </div>
        <div class="login-form" id="login-form">
            <div class="header">
                Панель администратора
                <i class="fal fa-users-cog"></i>
            </div>
            <div class="group">
                <input required type="text" name="login" id="login" value="" />
                <span class="bar"></span>
                <label>Логин</label>
            </div>
            <div class="group">
                <input required type="password" onkeydown="loginByEnter(event)" name="password" id="password" value="" />
                <span class="bar"></span>
                <label>Пароль</label>
            </div>
            <button class="btn btn-submit" id="action-login" onclick="login();">
                Войти
            </button>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/admin-login")
</body>
</html>
